<div class="dialog-body-custom"  >
    <div >
      <div class="flex justify-content-end">
        <button *ngIf="isDetail" (click)="edit()"  pButton type="button" label="Edit" ></button>
      </div>
    </div>
      <div class="p-fluid grid" [formGroup]="AddForm">
        <div  class="field col-12">
          <label class="block">Size Name <span class="text-danger"> *</span></label>
          <span class="w-full">
            <input
              type="text"
              formControlName="sizeName"
              pInputText
              placeholder=""
            />
          </span>

          <div *ngIf="f['sizeName'].invalid && (f['sizeName'].dirty || f['sizeName'].touched)">
            <div *ngIf="f['sizeName'].hasError('required')" style="color: rgb(225, 82, 82);">
              This is a required field.
            </div>
          </div>

        </div>
        <div  class="field col-12">
            <label class="block">Size Code<span class="text-danger"> *</span></label>
            <span class="w-full">
                <input
                type="text"
                formControlName="sizeCode"
                pInputText
                placeholder=""
              />
            </span>
            
            <div *ngIf="f['sizeCode'].invalid && (f['sizeCode'].dirty || f['sizeCode'].touched)">
                <div *ngIf="f['sizeCode'].hasError('required')" style="color: rgb(225, 82, 82);">
                  This is a required field.
                </div>
              </div>
          </div>
      </div>
</div>

<div class="dialog-footer-custom flex align-items-center justify-content-center">
    <button   pButton pRipple type="button" label="Cancel" class="p-button-secondary mr-2" (click)="onClose()"></button>
    <button [disabled]="this.AddForm.invalid || isDetail" pButton pRipple type="button" label="Save" (click)="onSave()"></button>
</div>
