<div class="my-information-wrap">
    <h3 class="mb-5">
      User Profile
    </h3>
  
    <div class="p-fluid grid">
      <div class="field col-12">
        <div class="avatar-user-wrap">
          <img width="120px" height="120p" />
  
          <label class="avatar-user-btn" data-action="change" data-toggle="tooltip"
            title="" data-original-title="Change avatar">
            <i class="pi pi-pencil"></i>
          </label>
        </div>
      </div>
  
      <div class="field col-6">
        <label class="block">Full name
          <span class="text-danger"> *</span>
        </label>
        <input type="text" pInputText />
      </div>
  
      <div class="field col-6">
        <label class="block">Username
          <span class="text-danger"> *</span>
        </label>
        <input type="text" pInputText/>
      </div>
  
      <div class="field col-6">
        <label class="block">Email Mobifone
          <span class="text-danger"> *</span>
        </label>
        <input type="text"  pInputText  />
      </div>
  
      <div class="field col-6">
        <label class="block">Phone
          <span class="text-danger"> *</span>
        </label>
        <input type="text"  pInputText  />
      </div>
  
      <div class="field col-6">
        <label class="block">Center
        </label>
        <p-dropdown
        optionLabel="displayName" optionValue="id" ></p-dropdown>
      </div>
  
      <div class="field col-6">
        <label class="block">Department
        </label>
        <p-dropdown  optionLabel="displayName"
        optionValue="id" ></p-dropdown>
      </div>
  
      <div class="field col-6">
        <label class="block">Group
        </label>
        <p-dropdown  optionLabel="displayName" optionValue="id" ></p-dropdown>
      </div>
  
      <div class="field col-6">
      </div>
  
      <div class="field col-6">
        <label class="block">ID Telegram
          <span class="text-danger"> *</span>
        </label>
        <input type="text" pInputText  />
      </div>
  
      <div class="field col-6">
        <label class="block">ID Viber
          <span class="text-danger"> *</span>
        </label>
        <input type="text" pInputText />
      </div>
    </div>
  
    <div class="flex justify-content-center mt-4">
      <button pButton pRipple type="button" label="Cancel" class="p-button-secondary mr-2" ></button>
      <button pButton pRipple type="button" label="Save" ></button>
    </div>
  </div>
  
