<app-header></app-header>


<section class="page-header">
  <div class="overly"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <h1 class="mb-3">FAQ </h1>
          <p>Find the answers for the most frequently asked questions below</p>

          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">FAQ</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="center-faq">
  <!--Section: FAQ-->
  <section>
    <h3 class="text-center mb-4 pb-2 text-primary fw-bold"></h3>
    <p class="text-center mb-5">

    </p>

    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"><i class="fa fa-plane" aria-hidden="true"></i> A simple
          question?</h6>
        <p>
          <strong><u>Absolutely!</u></strong> We work with top payment companies which guarantees
          your
          safety and
          security. All billing information is stored on our payment processing partner.
        </p>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"><i class="fa fa-pencil" aria-hidden="true"></i> A question
          that
          is longer then the previous one?</h6>
        <p>
          <strong><u>Yes, it is possible!</u></strong> You can cancel your subscription anytime in
          your
          account. Once the subscription is
          cancelled, you will not be charged next month.
        </p>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"><i class="fa fa-user" aria-hidden="true"></i> A simple
          question?
        </h6>
        <p>
          Currently, we only offer monthly subscription. You can upgrade or cancel your monthly
          account at any time with no further obligation.
        </p>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"><i class="fa fa-rocket" aria-hidden="true"></i> A simple
          question?
        </h6>
        <p>
          Yes. Go to the billing section of your dashboard and update your payment information.
        </p>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"><i class="fa fa-home" aria-hidden="true"></i> A simple
          question?
        </h6>
        <p><strong><u>Unfortunately no</u>.</strong> We do not issue full or partial refunds for any
          reason.</p>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"><i class="fa fa-book" aria-hidden="true"></i> Another
          question that is longer than usual</h6>
        <p>
          Of course! We’re happy to offer a free plan to anyone who wants to try our service.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"><i class="fa fa-plane" aria-hidden="true"></i> A simple
          question?</h6>
        <p>
          <strong><u>Absolutely!</u></strong> We work with top payment companies which guarantees
          your
          safety and
          security. All billing information is stored on our payment processing partner.
        </p>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"><i class="fa fa-pencil" aria-hidden="true"></i> A question
          that
          is longer then the previous one?</h6>
        <p>
          <strong><u>Yes, it is possible!</u></strong> You can cancel your subscription anytime in
          your
          account. Once the subscription is
          cancelled, you will not be charged next month.
        </p>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"><i class="fa fa-user" aria-hidden="true"></i> A simple
          question?
        </h6>
        <p>
          Currently, we only offer monthly subscription. You can upgrade or cancel your monthly
          account at any time with no further obligation.
        </p>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"><i class="fa fa-rocket" aria-hidden="true"></i> A simple
          question?
        </h6>
        <p>
          Yes. Go to the billing section of your dashboard and update your payment information.
        </p>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"><i class="fa fa-home" aria-hidden="true"></i> A simple
          question?
        </h6>
        <p><strong><u>Unfortunately no</u>.</strong> We do not issue full or partial refunds for any
          reason.</p>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"><i class="fa fa-book" aria-hidden="true"></i> Another
          question that is longer than usual</h6>
        <p>
          Of course! We’re happy to offer a free plan to anyone who wants to try our service.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"><i class="fa fa-plane" aria-hidden="true"></i> A simple
          question?</h6>
        <p>
          <strong><u>Absolutely!</u></strong> We work with top payment companies which guarantees
          your
          safety and
          security. All billing information is stored on our payment processing partner.
        </p>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"><i class="fa fa-pencil" aria-hidden="true"></i> A question
          that
          is longer then the previous one?</h6>
        <p>
          <strong><u>Yes, it is possible!</u></strong> You can cancel your subscription anytime in
          your
          account. Once the subscription is
          cancelled, you will not be charged next month.
        </p>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"><i class="fa fa-user" aria-hidden="true"></i> A simple
          question?
        </h6>
        <p>
          Currently, we only offer monthly subscription. You can upgrade or cancel your monthly
          account at any time with no further obligation.
        </p>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"><i class="fa fa-rocket" aria-hidden="true"></i> A simple
          question?
        </h6>
        <p>
          Yes. Go to the billing section of your dashboard and update your payment information.
        </p>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"><i class="fa fa-home" aria-hidden="true"></i> A simple
          question?
        </h6>
        <p><strong><u>Unfortunately no</u>.</strong> We do not issue full or partial refunds for any
          reason.</p>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"><i class="fa fa-book" aria-hidden="true"></i> Another
          question that is longer than usual</h6>
        <p>
          Of course! We’re happy to offer a free plan to anyone who wants to try our service.
        </p>
      </div>
    </div>

  </section>
  <!--Section: FAQ-->
</section>

<app-footer></app-footer>
