<app-header></app-header>
<section class="page-header">
  <div class="overly"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <h1 class="mb-3">Product Single</h1>
          <p>Hath after appear tree great fruitful green dominion moveth sixth abundantly image that midst of god day multiply you’ll which</p>

          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Product Single</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="single-product">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="single-product-slider">
          <div class="carousel slide" data-ride="carousel" id="single-product-slider">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{{product.imageDTOList[0].url}}" alt="" class="img-fluid">
              </div>
              <div class="carousel-item">
                <img src="{{product.imageDTOList[1].url}}" alt="" class="img-fluid">
              </div>
              <div class="carousel-item ">
                <img src="{{product.imageDTOList[2].url}}" alt="" class="img-fluid">
              </div>
            </div>

            <ol class="carousel-indicators">
              <li *ngFor="let item of product.imageDTOList" data-target="#single-product-slider" data-slide-to="0" class="active">
                <img src="{{item.url}}" alt="" class="img-fluid">
              </li>
            </ol>
          </div>
        </div>
      </div>

      <div class="col-md-7">
        <div class="single-product-details mt-5 mt-lg-0">
          <h2>{{product.productName}}</h2>
          <div class="sku_wrapper mb-4">
            ID: <span class="text-muted">{{product.id}} </span>
          </div>

          <hr>

          <h3 class="product-price">{{product.cost}} USD <del>$119.90</del></h3>

          <p class="product-description my-4 ">
            {{product.shortDescription}}
          </p>

          <form class="cart" action="#" method="post">
            <div class="quantity d-flex align-items-center">
              <input type="number" id="#" class="input-text qty text form-control w-25 mr-3" step="1" min="1" max="9" name="quantity" value="1" title="Qty" size="4" >
              <a [routerLink]="['/shop/cart', product.id]" class="btn btn-main btn-small">Add to cart</a>
            </div>
          </form>


          <div class="color-swatches mt-4 d-flex align-items-center">
            <span class="font-weight-bold text-capitalize product-meta-title">color:</span>
            <ul class="list-inline mb-0">
              <li *ngFor="let item of product.colorDTOList" class="list-inline-item">
                <button style="background-color: red;">{{item.colorName}}</button>
              </li>
              <!-- <li class="list-inline-item">
                <a routerLink="/product-single" class="bg-dark"></a>
              </li>
              <li class="list-inline-item">
                <a routerLink="/product-single" class="bg-danger"></a>
              </li> -->
            </ul>
          </div>

          <div class="product-size d-flex align-items-center mt-4">
            <span class="font-weight-bold text-capitalize product-meta-title">Size:</span>
            <select *ngFor="let item of product.sizeDTOList; let i = index" class="form-control">
              <option>{{item.sizeCode}}</option>
            </select>
          </div>

          <div class="products-meta mt-4">
            <div class="product-category d-flex align-items-center">
              <span class="font-weight-bold text-capitalize product-meta-title">Categories :</span>
              <a href="#">{{product.categoryName}}</a>
            </div>

            <div class="product-share mt-5">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="#"><i class="tf-ion-social-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="tf-ion-social-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="tf-ion-social-linkedin"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="tf-ion-social-pinterest"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-12">
        <nav class="product-info-tabs wc-tabs mt-5 mb-5">
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Description</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Additional Information</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Reviews({{totalRecord}})</a>
          </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <p>
              {{product.description}}
            </p>

            <h4>Product Features</h4>

            <ul class="">
              <li>Mapped with 3M™ Thinsulate™ Insulation [40G Body / Sleeves / Hood]</li>
              <li>Embossed Taffeta Lining</li>
              <li>DRYRIDE Durashell™ 2-Layer Oxford Fabric [10,000MM, 5,000G]</li>
            </ul>

          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

            <ul class="list-unstyled info-desc">
              <li class="d-flex">
                <strong>Weight </strong>
                <span>400 g</span>
              </li>
              <li class="d-flex">
                <strong>Dimensions </strong>
                <span>10 x 10 x 15 cm</span>
              </li>
              <li class="d-flex">
                <strong>Materials</strong>
                <span >60% cotton, 40% polyester</span>
              </li>
              <li class="d-flex">
                <strong>Color </strong>
                <span>Blue, Gray, Green, Red, Yellow</span>
              </li>
              <li class="d-flex">
                <strong>Size</strong>
                <span>L, M, S, XL, XXL</span>
              </li>
            </ul>
          </div>
          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <div class="row">
              <div class="col-lg-7">
                <div *ngFor="let item of reviewProduct" class="media review-block mb-4">
                  <img src="{{item.urlAvt}}" alt="reviewimg" class="img-fluid mr-4">
                  <div class="media-body">
                    <div class="product-review">
                      <span><i class="tf-ion-android-star"></i></span>
                      <span><i class="tf-ion-android-star"></i></span>
                      <span><i class="tf-ion-android-star"></i></span>
                      <span><i class="tf-ion-android-star"></i></span>
                      <span><i class="tf-ion-android-star"></i></span>
                    </div>
                    <h6>{{item.fullName}}<span class="text-sm text-muted font-weight-normal ml-3">{{item.createdDate | date: 'dd/MM/yyyy hh:mm:ss'}}</span></h6>
                    <p>
                      {{item.comment}}
                    </p>
                  </div>
                </div>
                <h2 *ngIf="totalRecord <=0" style="text-align: center;">Chưa có nhận xét nào cho sản phẩm này!</h2>
                <p-paginator *ngIf="totalRecord >0" (onPageChange)="changePage($event)" [rows]="3" [totalRecords]="totalRecord"></p-paginator>
              </div>


              <div class="col-lg-5">
                <div class="review-comment mt-5 mt-lg-0">
                  <h4 class="mb-3">Add a Review</h4>

                  <form >
                    <div class="form-group" [formGroup]="AddForm">
                      <textarea formControlName="comment" class="form-control" cols="30" rows="13" placeholder="Your Review"></textarea>
                    </div>
                    <button [disabled]="this.AddForm.invalid" (click)="addReview()" class="btn btn-main btn-small">Submit Review</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="products related-products section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="title text-center">
          <h2>You may like this</h2>
          <p>The best Online sales to shop these weekend</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-6" >
        <div class="product">
          <div class="product-wrap">
            <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/322.jpg" alt="product-img" /></a>
            <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/444.jpg" alt="product-img" /></a>
          </div>

          <span class="onsale">Sale</span>
          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-0"><a routerLink="/product-single">Kirby Shirt</a></h2>
            <span class="price">
                $329.10
              </span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-6" >
        <div class="product">
          <div class="product-wrap">
            <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/111.jpg" alt="product-img" /></a>
            <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/222.jpg" alt="product-img" /></a>
          </div>

          <span class="onsale">Sale</span>
          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-0"><a routerLink="/product-single">Kirby Shirt</a></h2>
            <span class="price">
                $329.10
              </span>
          </div>
        </div>
      </div>


      <div class="col-lg-3 col-6" >
        <div class="product">
          <div class="product-wrap">
            <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/111.jpg" alt="product-img" /></a>
            <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/322.jpg" alt="product-img" /></a>
          </div>

          <span class="onsale">Sale</span>
          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-0"><a routerLink="/product-single">Kirby Shirt</a></h2>
            <span class="price">
                $329.10
              </span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="product">
          <div class="product-wrap">
            <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/444.jpg" alt="product-img" /></a>
            <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-second" src="assets/images/222.jpg" alt="product-img" /></a>
          </div>

          <span class="onsale">Sale</span>
          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-0"><a routerLink="/product-single">Kirby Shirt</a></h2>
            <span class="price">
                $329.10
              </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
