
.font-size-contact{
  font-size: x-large;
}
.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color:#fb5c42;
  border-color: #fb5c42;
}
.btn-primary {
  color: #fff;
  background-color: #fb5c42;
  border-color: #fb5c42;
}
